.head-center {
    color: red;
    padding-right: 30px;

}

.head-style {
    font-size: medium;
}


@media (max-width: 480px) {
    .table-lines {
        display: none;
        
    }

    .head-center {
        color: blue;
        padding-right: 30px;
        font-size: 30px;
        table-layout: auto;

    }
}


.head-style {
    color: yellow;
    padding-right: 30px;
    font-size: 30px;

}


.head-rate {
    color: green;
    padding-right: 30px;
    font-size: 30px;

}

.sort {
    color: rebeccapurple;
    padding-right: 30px;
    font-size: 30px;


}

.temp {
    color: brown;
    padding-right: 30px;
    font-size: 30px;


}

.random {
    color: fuchsia;
    padding-right: 30px;
    font-size: 30px;

}

.count {
    color: blanchedalmond;
    padding-right: 30px;
    font-size: 30px;

}

.style {
    color: yellowgreen;
    padding-right: 30px;
    font-size: 30px;

}

.XY {
    color: gold;
    padding-right: 30px;
    font-size: 30px;

}

.table-lines {

    border: 2px;
    border-style: solid;
    border-color: black;

}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

@media screen and (min-width: 100px) {
    #leftsidebar {
        width: 500px;
        float: left;
    }

    #main {
        margin-left: 600px;
    }
}

/* 
.table-blocks {
    border: 2px;
    border-style: solid;
    border-color: black;
}
  .head{
    color: yellow;
    padding-right: 15px;
      font-size: 15px;

} 


.rate{
    color: green;
    padding-right: 15px;
  font-size: 315px;

}
.sor{
    color: rebeccapurple;
    padding-right: 15px;
    font-size: 15px;
     

}

.tem{
    color:brown;
    padding-right: 15px;
    font-size: 15px;


}

.master{
    color: fuchsia;
    padding-right: 15px;
    font-size: 15px;

}
.coun {
    color: blanchedalmond;
    padding-right: 15px;
    font-size: 15px;
}

.style {
    color: yellowgreen;
    padding-right: 15px;
    font-size: 15px;

}

.Y{
   color: gold;
    padding-right: 15px;
    font-size: 15px;

}
@media (min-width: 480px){
    .table-blocks {
        display: none;
    }
   
} */